<html>
	<head>
		<title>View Sitter Profile</title>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="/js/jquery-serialize-object.js"></script>
		<script>
			function getUserId() {
				var url = window.location.href;
				var userId = url.replace(/\/+$/, '').split("/").pop();
				return userId;
			}

			userId = getUserId()
			console.log(userId)

			$.getJSON('/api/sitter/' + userId, function(data) {
				console.log(data);
			});
		</script>
	</head>
	<body>
		<table>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</body>
</html>